html { height: 100%; 
}
body { height: 100%; 
margin: 0px; 
font-family: Ubuntu, sans-serif; 
background: linear-gradient(rgb(22, 17, 61), rgb(36, 36, 36)); 
display: flex; 
flex-direction: column; 
}
div { min-width: 24px; 
min-height: 24px; 
border: 2px solid rgba(21, 65, 212, 0.877); 
color: rgb(3, 3, 77); 
margin: 5px; 
padding: 5px; 
box-sizing: border-box; 
}
